{% extends 'layout/layout.html.twig' %}

{% block page_title %}{% endblock %}
{% block page_description %}{% endblock %}

{% block content %}
<div class="bg-woods">
    <section class="container-md py-4 py-md-5">
        <h1 class="text-white" data-animation="fadeInUp">Mes activités annexes</h1>
        <p class="col-sm-10 col-md-6 text-white fs-5 fst-italic" data-animation="fadeInUp">
            Jetez un oeil à ce que je fais en parallèle de mon travail.
        </p>
    </section>
</div>

{# Section Engagements associatifs #}
<div class="bg-bark">
    <section class="container-md py-4">
        <h2 data-animation="fadeInUp">Engagements associatifs</h2>
        <p>
            Cela fait de nombreuses années que j'apporte mon soutien à des associations.<br>
            J'ai également eu un rôle actif au sein de certaines d'entre elles.
        </p>
        <div class="row gx-md-5">

            {# Column Domain professionnel #}
            <div class="mb-3 col-lg-6 mb-lg-0">
                <h3 class="h4 mb-3">Dans mon domaine professionnel</h3>
                <ul class="list-unstyled ps-3 ms-2 border-start border-dark">
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis  2004</span>
                        <span>
                            Président du <strong>Groupement des ingénieurs forestiers de Genève</strong> (GIFORGE)
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis 1994</span>
                        <span>
                            Président de la
                            <a href="https://www.dendrologie.ch/fr_cms/schweizerische_dendrologische_gesellschaft.html"><strong>Société Suisse de Dendrologie</strong></a> (SSD)
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis 1987</span>
                        <span>
                            Membre du Comité de l'Association pour
                            l'<a href="https://www.arboretum.ch/"><strong>Arboretum du Vallon de l'Aubonne</strong></a> (AAVA)
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis  1987</span>
                        <span>
                            Membre du Comité de la <strong>Société Genevoise d'Horticulture</strong> (SGH)
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis  1987</span>
                        <span>
                            Membre de l'<a href="http://www.dendrology.org/"><strong>International Dendrology Society</strong></a> (IDS)
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis  1983</span>
                        <span>
                            Membre de la commission dendrologique de la <strong>Société Genevoise d'Horticulture</strong> (SGH)
                        </span>
                    </li>
                </ul>
            </div>

            {# Column Domaine social #}
            <div class="col-lg-6 ">
                <h3 class="h4 mb-3">Dans le domaine social et politique</h3>
                <ul class="list-unstyled ps-3 ms-2 border-start border-dark">
                    <li class="d-flex flex-wrap flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis 1992</span>
                        <span>Président de la <a href="https://www.hospicegeneral.ch/fr/fondation-paul-poletti"><strong>Fondation Paul Poletti</strong></a></span>
                        <p class="mt-1 mb-0">
                            Cette fondation, créée en 1985, a pour objectif de venir
                            en aide à des enfants en situation difficile, en fournissant
                            des prestations que les services et institutions officiels
                            ne peuvent couvrir.
                        </p>
                    </li>
                    <li class="d-flex flex-wrap flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis 1994</span>
                        <span>Membre du Conseil de la <a href="https://www.bcas.ch/"><strong>Fondation du Bureau central d’aide sociale</strong></a> (BCAS)</span>
                        <p class="mt-1 mb-0">
                            Une institution privée genevoise qui intervient dans
                            des situations difficiles (SOS-Enfants, Biceps).
                        </p>
                    </li>
                    <li class="d-flex flex-wrap flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis 1998</span>
                        <span>Président de la fondation <a href="http://trajectoires.ch/"><strong>Trajectoires</strong></a></span>
                        <p class="mt-1 mb-0">
                            Une fondation créée par Monsieur Michel Rossetti,
                            Conseiller administratif de la Ville de Genève, et engagée
                            en faveur de l'intégration sociale individualisée.<br>
                            Cette fondation est plus particulièrement en charge
                            de la blanchisserie du Pont-d'Arve qui s'occupe notamment
                            du linge des personnes âgées de la Ville de Genève et
                            du linge de Belle-Idée (jusqu'en 2005).
                        </p>
                    </li>
                    <li class="d-flex flex-wrap flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis 2006</span>
                        <span>Membre de la <a href="https://www.fidp.ch/emile-dupont"><strong>Fondation HBM Emile-Dupont</strong></a></span>
                        <p class="mt-1 mb-0">
                            Une fondation de droit public qui gère, développe et
                            entretient plus de 1500 logements, tous dans la catégorie
                            des loyers modestes.
                        </p>
                    </li>
                    <li class="d-flex flex-wrap flex-column flex-md-row mb-3">
                        <span class="list-item-date">1993 - 2008</span>
                        <span>Président de la <a href="http://www.fermeforaine.ch/"><strong>Ferme Foraine</strong></a></span>
                        <p class="mt-1 mb-0">
                            Cette association organise des vacances en roulottes
                            pour des enfants - notamment des enfants rencontrant
                            des difficultés de vie - avec le troubadour Bonaventure
                            et ses ânes. La Ferme Foraine est installée à Loëx
                        </p>
                    </li>
                    <li class="d-flex flex-wrap flex-column flex-md-row mb-3">
                        <span class="list-item-date">2000 - 2008</span>
                        <span>Trésorier de la <a href="https://mia-ge.ch/annuaire-professionnel/1537/fondation-pour-lhebergement-des-personnes-handicapees-psychiques-fhp/"><strong>Fondation pour l’Hébergement des Personnes Handicapées Psychiques</strong></a> (FHP)</span>
                        <p class="mt-1 mb-0">
                            Cette fondation, créée par une loi du Grand Conseil
                            genevois a pour objectif de créer et de gérer, à Genève, un réseau
                            de lieux de vie (foyers et appartements avec encadrement
                            psychosocial) pour des personnes souffrant de troubles psychiques.
                        </p>
                    </li>
                    <li class="d-flex flex-wrap flex-column flex-md-row mb-3">
                        <span class="list-item-date">2001 - 2006</span>
                        <span>Membre de la <a href="https://fplc.ch/"><strong>Fondation pour la promotion du logement bon marché et de l’habitat coopératif</strong></a> (FPLC)</span>
                        <p class="mt-1 mb-0">
                            Une fondation créée par le Grand Conseil genevois et
                            chargée de construire des logements bon marché et de
                            promouvoir du logement coopératif.
                        </p>
                    </li>
                </ul>
                {# <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item bg-transparent collapsed">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"  data-bs-parent="#accordionExample" aria-expanded="false" aria-controls="collapseOne">
                                <div class="d-flex flex-column flex-md-row align-items-start">
                                    <span class="list-item-date">Depuis 1992</span>
                                    <span>Président de la <a href="https://www.hospicegeneral.ch/fr/fondation-paul-poletti"><strong>Fondation Paul Poletti</strong></a></span>
                                </div>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <p>
                                    Cette fondation, créée en 1985, a pour objectif de venir
                                    en aide à des enfants en situation difficile, en fournissant
                                    des prestations que les services et institutions officiels
                                    ne peuvent couvrir.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" data-bs-parent="#accordionExample" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button bg-transparent collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" data-bs-parent="#accordionExample" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div> #}
            </div>
        </div>
    </section>
</div>

{# Section Engagement politique #}
<section class="container-md py-4 text-offwhite">
    <h2 class="text-white" data-animation="fadeInUp">Engagement politique</h2>
    <div class="row gx-md-5">
        <div class="col-md-6">
            <p>
                Je suis élu en 1989 comme député radical au Grand Conseil de la République
                et canton de Genève. J'y ai siègé pendant 12 ans (3 mandats) durant lesquels
                j'ai notamment été <em>Chef de groupe de la députation</em> (1993 - 1995)
                et <em>2ème vice-président du Grand Conseil</em> (1998).
            </p>
        </div>
        <div class="col-md-6">
            <p>
                J'ai également été président des commissions suivantes&nbsp;:
                <ul>
                    <li>Environnement</li>
                    <li>Énergie</li>
                    <li>Enseignement</li>
                    <li>Affaires sociales</li>
                    <li>Informatique</li>
                    <li>Législative</li>
                </ul>
            </p>
        </div>
    </div>
</section>

{# Section Loisirs #}
<div class="bg-bark">
    <section class="container-md py-4">
        <h2 data-animation="fadeInUp">Loisirs</h2>
        <ul class="list-unstyled row gx-md-5">
            <li class="col-md-6">
                <strong>La nature</strong>
                <p>J'aime l'observer et m'y promener. Je suis adhérent <abbr title="World Wide Fund for Nature" lang="en">WWF</abbr> et PRO NATURA, depuis plus de 30 ans.</p>
            </li>
            <li class="col-md-6">
                <strong>Activités cynégétiques</strong>
                <p>Depuis 1982, en Suisse et en Europe (permis valaisan et français)</p>
            </li>
            <li class="col-md-6">
                <strong>Musique</strong>
                <p>Je joue de l’accordéon, de la guitare et je chante. J'ai donné des concerts.</p>
            </li>
            <li class="col-md-6">
                <strong>Lecture</strong>
                <p>J'aime lire des romans, des bandes dessinées ou des ouvrages professionnels.</p>
            </li>
            <li class="col-md-6">
                <strong>Cinéma</strong>
                <p>J'apprécie particulièrement les films d'aventure, d'art et d'essai et les grandes productions.</p>
            </li>
            <li class="col-md-6">
                <strong>Voyages</strong>
                <p>Que ce soit pour des déplacements professionnels ou les vacances, j'adore voyager.</p>
            </li>
        </ul>
    </section>
</div>
{% endblock %}
