{% extends 'layout/layout.html.twig' %}

{% block page_title %}{% endblock %}
{% block page_description %}{% endblock %}

{% block content %}
<section class="container-md py-4 py-md-5 text-offwhite">
    <h1 class="text-white" data-animation="fadeInUp">Qui suis-je</h1>
    <div class="row">
        <div class="col-lg-8">
            <p class="lead text-white" data-animation="fadeInUp">Roger Beer, né en 1956, Suisse (GE/BE)</p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Voluptates, blanditiis aut porro pariatur omnis veniam culpa.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
                dolor eius exercitationem eos! Laudantium eligendi nam, eaque quis
                vero tempore unde doloremque doloribus laboriosam soluta sint sunt
                quasi sapiente repudiandae!
            </p>
        </div>
        <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-lg-3 offset-lg-1">
            <img class="mw-100 rounded-circle shadow " src="{{ asset('build/images/photo-roger-beer.jpg') }}" alt="Photo de Roger Beer">
        </div>
    </div>
</section>

<div class="bg-bark">
    <section class="container-md py-4">
        <h2 data-animation="fadeInUp">Parcours professionnel</h2>
        <div class="row">
            <div class="col-lg-6 mb-3">
                <p>
                    Après plus de 20 ans passés à la tête du Service des espaces
                    verts et de l’environnement (SEVE) de la Ville de Genève - un
                    service de plus de 200 personnes - j’ai décidé de réorienter
                    ma carrière en fonction de mon intérêt croissant pour la nature
                    et l’environnement.
                </p>
                <p>
                    A la suite d’une première mission aux Conservatoire et Jardin
                    botaniques de la Ville de Genève portant sur l'élaboration d'un
                    projet d'inventaire informatisé des arbres d'alignement en ville,
                    je travaille aujourd'hui en tant qu’ingénieur forestier EPFZ / SIA
                    sur des mandats dans les domaines forestier, paysager et environnemental.
                </p>
            </div>
            <div class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-0">
                <ul class="list-unstyled ps-3 border-start border-dark">
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">Depuis 2006</span>
                        <span>
                            <span class="fw-bold">Ingénieur forestier EPFZ/SIA</span>, expert consultant
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">2004 - 2006</span>
                        <span>
                            <span class="fw-bold">Adjoint scientifique chargé de recherches dendrologiques</span><br>
                            Conservatoire et Jardin botaniques de la Ville de Genève
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">1987 - 2003</span>
                        <span>
                            <span class="fw-bold">Directeur</span> du Service des
                            espaces verts et de l’environnement de la Ville de Genève (SEVE)
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">1985 - 1992</span>
                        <span>
                            <span class="fw-bold">Professeur de dendrologie ornementale</span><br>
                            Centre horticole de Lullier, Genève, temps partiel
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">1982 - 1986</span>
                        <span>
                            <span class="fw-bold">Ingénieur forestier</span> adjoint
                            à la direction du service des parcs et promenades de
                            la Ville de Genève
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">1981 - 1982</span>
                        <span>
                            <span class="fw-bold">Assistant</span> de feu le professeur
                            G.&nbsp;Bocquet, alors directeur des Conservatoire et
                            Jardin botaniques de la Ville de Genève
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">1980 - 1981</span>
                        <span class="fw-bold">Enseignement et mandats d’expertises forestières</span>
                    </li>
                    <li class="d-flex flex-column flex-md-row mb-3">
                        <span class="list-item-date">1978 - 1979</span>
                        <span>
                            <span class="fw-bold">Stages</span>
                            forestiers pratiques de plaine (Berthoud) et de montagne (Martigny)
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>

<section class="container-md py-3 text-offwhite">
    <h2 class="text-white" data-animation="fadeInUp">Formations et diplômes</h2>
    <div class="row">
        <div class="col-lg-6 mb-3">
            <p>
                Une fois mon école obligatoire terminée, j'ai suivi la formation
                d'Ingénieur forestier de l'<em>École Polytechnique Fédérale de Zurich</em>
                (EPFZ)
            </p>
        </div>
        <div class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-0">
            <ul class="list-unstyled ps-3 border-start border-offwhite">
                <li class="d-flex flex-column flex-md-row mb-3">
                    <span class="list-item-date">2005</span>
                    <span>
                        <span class="fw-bold">Certificat de formation continue en développement durable</span><br>
                        Université de Genève
                    </span>
                </li>
                <li class="d-flex flex-column flex-md-row mb-3">
                    <span class="list-item-date">1986</span>
                    <span>
                        <span class="fw-bold">Formation permanente en administration publique</span><br>
                        Université de Genève, SES
                    </span>
                </li>
                <li class="d-flex flex-column flex-md-row mb-3">
                    <span class="list-item-date">1980</span>
                    <span>
                        <span class="fw-bold">Diplôme d’Ingénieur forestier</span> avec brevet d’éligibilité<br>
                        Ecole Polytechnique Fédérale de Zürich (EPFZ)
                    </span>
                </li>
                <li class="d-flex flex-column flex-md-row mb-3">
                    <span class="list-item-date">1975</span>
                    <span>
                        <span class="fw-bold">Maturité A</span>, section classique<br>
                        Collège Rousseau, Genève
                    </span>
                </li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}
