{% extends 'layout/layout.html.twig' %}

{% block page_title %}Le parcours de Roger Beer, ingénieur forestier EPFZ/SIA{% endblock %}
{% block page_description %}Prenez connaissance du parcours professionnel de Roger Beer depuis sa formation d'ingénieur forestier EPFZ/SIA.{% endblock %}

{% block content %}
<section class="bg-bark py-5">
    <div class="container-md">
        <h1 data-animation="fadeInUp">Qui suis-je</h1>
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <h2 class="lead" data-animation="fadeInUp">Roger Beer, né en 1956, Suisse (GE/BE)</h2>
                <p>
                    Un ingénieur forestier EPFZ/SIA qui a passé sa vie dans l’administration
                    (Ville de Genève et Etat de Genève) et comme indépendant pendant
                    près de 10 ans (2006-2014).
                </p>
                <p>
                    Les arbres, la forêt et le paysagisme comme la protection de l‘environnement
                    ont été mes principaux centres d’intérêt durant toutes ces années.
                </p>
                <p>
                    La politique (député au Grand Conseil genevois) et l’engagement
                    associatif ont également occupé une partie de mon temps «&nbsp;libre&nbsp;»
                    (voir mes <a href="{{ path('activites') }}">autres activités</a>).
                </p>
                <h3 class="h4">Langues parlées</h3>
                <p class="mb-0">
                    Si le français n'est pas votre langue préférée, je parle aussi couramment
                    l'allemand et le suisse-allemand, et j'ai de bonnes connaissances d'anglais
                    et d'espagnol.
                </p>
            </div>
            <div class="col-8 offset-2 col-sm-6 offset-sm-3 col-lg-4 offset-lg-0 col-xxl-3">
                <img class="mw-100 rounded-circle shadow " src="{{ asset('build/images/photo-roger-beer.jpg') }}" alt="Photo de Roger Beer">
            </div>
        </div>
    </div>
</section>

{# Section Parcours professionnel #}
<section class="bg-dark py-5 text-offwhite">
    <div class="container-md">
        <h2 data-animation="fadeInUp">Parcours professionnel</h2>
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <p>
                    Après plus de 20 ans passés à la tête du service des espaces
                    vert et de l’environnement (SEVE) de la Ville de Genève - un
                    service de plus de 200 personnes -, je me suis installé, dès
                    2006, comme indépendant avec un bureau de consultant,
                    <em>Séquoia & Gardens</em>.
                </p>
                <p>
                    J’ai alors travaillé en tant qu’ingénieur forestier EPFZ/SIA
                    sur des mandats dans les domaines forestier, paysager et
                    environnemental.
                </p>
                <p class="mb-0">
                    En août 2014, j’ai été engagé à l’Etat de Genève comme chef
                    du secteur forets et arbres isolés à l’office cantonal de
                    l’agriculture et de la nature (OCAN), jusqu’en avril 2021,
                    date de ma retraite et de la reprise de mon bureau
                    d’ingénieur forestier EPFZ/SIA de consultant.
                </p>
            </div>
            <div class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-0">
                <h3 class="visually-hidden">Historique de mon parcours professionnel</h3>
                <ul class="list-unstyled mb-0 ms-2 ms-sm-0 ps-3 border-start border-offwhite">
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">Dès mai 2021</span>
                        <span>
                            Reprise des activités du bureau
                            <span class="fw-bold">Séquoia & Gardens</span>
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">2014 - 2021</span>
                        <span>
                            <span class="fw-bold">Chef du secteur forêts et arbres isolés</span><br>
                            Office cantonal de l’agriculture et de la nature de Genève
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">2006 - 2021</span>
                        <span>
                            <span class="fw-bold">Ingénieur forestier EPFZ/SIA indépendant</span>
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">2004 - 2006</span>
                        <span>
                            <span class="fw-bold">Adjoint scientifique chargé de recherches dendrologiques</span><br>
                            Conservatoire et Jardin botaniques de la Ville de Genève
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">1987 - 2003</span>
                        <span>
                            <span class="fw-bold">Directeur</span> du Service des
                            espaces verts et de l’environnement de la Ville de Genève (SEVE)
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">1985 - 1992</span>
                        <span>
                            <span class="fw-bold">Professeur de dendrologie ornementale</span><br>
                            Centre horticole de Lullier, Genève, temps partiel
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">1982 - 1986</span>
                        <span>
                            <span class="fw-bold">Ingénieur forestier</span> adjoint
                            à la direction du service des parcs et promenades de
                            la Ville de Genève
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">1981 - 1982</span>
                        <span>
                            <span class="fw-bold">Assistant</span> de feu le professeur
                            G.&nbsp;Bocquet, alors directeur des Conservatoire et
                            Jardin botaniques de la Ville de Genève
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">1980 - 1981</span>
                        <span class="fw-bold">Enseignement et mandats d’expertises forestières</span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline">
                        <span class="list-item-date">1978 - 1979</span>
                        <span>
                            <span class="fw-bold">Stages</span>
                            forestiers pratiques de plaine (Berthoud) et de montagne (Martigny)
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{# Section Formations #}
<section class="bg-bark py-5">
    <div class="container-md">
        <h2 data-animation="fadeInUp">Formations et diplômes</h2>
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0">
                <p>
                    Une fois mon école obligatoire terminée, j'ai suivi la formation
                    d'Ingénieur forestier de l'<em>École Polytechnique Fédérale de Zurich</em>
                    (EPFZ).
                </p>
                <p class="mb-0">
                    Depuis, j'ai régulièrement suivi des formations continues et des
                    cours spécifiques dans les domaines forestier, paysager et environnementaux.
                </p>
            </div>
            <div class="col-sm-10 offset-sm-1 col-lg-6 offset-lg-0">
                <h3 class="visually-hidden">Historique des mes formations</h3>
                <ul class="list-unstyled mb-0 ms-2 ms-sm-0 ps-3 border-start border-dark">
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">2005</span>
                        <span>
                            <span class="fw-bold">Certificat de formation continue en développement durable</span><br>
                            Université de Genève
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">1986</span>
                        <span>
                            <span class="fw-bold">Formation permanente en administration publique</span><br>
                            Université de Genève, SES
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline mb-3">
                        <span class="list-item-date">1980</span>
                        <span>
                            <span class="fw-bold">Diplôme d’Ingénieur forestier</span> avec brevet d’éligibilité<br>
                            Ecole Polytechnique Fédérale de Zürich (EPFZ)
                        </span>
                    </li>
                    <li class="d-flex flex-column flex-md-row align-items-baseline">
                        <span class="list-item-date">1975</span>
                        <span>
                            <span class="fw-bold">Maturité A</span>, section classique<br>
                            Collège Rousseau, Genève
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
