{% extends 'layout/layout.html.twig' %}

{% block page_title %}{% endblock %}
{% block page_description %}{% endblock %}

{% block content %}
    <div class="bg-light">
        <div class="container-md py-4">
            <h1>Prestations</h1>
        </div>
    </div>
{% endblock %}
