{% extends 'layout/layout.html.twig' %}

{% block page_title %}Les prestations de Roger Beer, ingénieur forestier EPFZ/SIA{% endblock %}
{% block page_description %}Prenez connaissance du rôle et des prestations de l'ingénieur forestier. Ces dernières s'adressent aux entreprises comme aux particuliers.{% endblock %}

{% block content %}
<section class="bg-woods py-5 py-lg-6 text-white text-shadow-lg">
    <div class="container-md">
        <h1 class="col offset-lg-1" data-animation="fadeInUp">Prestations de <em>Séquoia & Gardens</em></h1>
        <p class="col-sm-10 col-lg-6 offset-lg-1 fs-5 fst-italic" data-animation="fadeInUp">
            Mon rôle est de vous aider et conseiller dans vos études ou projets d'aménagement d'espace forestier.
        </p>
    </div>
</section>

<section class="bg-bark py-5">
    <div class="container-md">
        <div class="row align-items-baseline">
            <h2 class="col-md-3 col-lg-2 offset-lg-1 h4" data-animation="fadeInLeft">Pour qui</h2>
            <div class="col col-lg-7">
                <p class="h2">Gérer votre patrimoine arboré, forestier et horticole</p>
                <p>
                    Institutions publiques ou privées, communes ou propriétaires, vous aspirez
                    à une gestion optimale de vos espaces verts, de votre jardin et de leurs arbres.
                </p>
                <p class="mb-0">
                    Faites-vous conseiller par un spécialiste expérimenté qui saura assurer
                    un développement paysager harmonieux de votre cadre de vie.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark py-5 text-offwhite">
    <div class="container-md">
        <div class="row align-items-baseline">
            <h2 class="col-md-3 col-lg-2 offset-lg-1 h4 text-white" data-animation="fadeInLeft">Pour quoi</h2>
            <div class="col col-lg-7">
                <h3 class="h2">Étude et expertise arboricole</h3>
                <p>
                    Ma prestation principale consiste à produire des rapports à
                    propos d'arbres en milieu urbain ou forestier.
                </p>
                <p>
                    Mon rôle consiste alors à évaluer et apprécier diverses caractéristiques
                    des arbres, comme par exemple :
                </p>
                <ul>
                    <li>Leur état sanitaire</li>
                    <li>Le risque qu'ils pourraient causer ou occasionner</li>
                    <li>Leur potentiel de développement</li>
                    <li>La nécessité de leur remplacement</li>
                </ul>
                <h4>En milieu urbain</h4>
                <p>
                    À Genève en particulier, je suis fréquemment amené à travailler
                    sur les démarches associées à l'autorisation d'abattage des
                    arbres et l'estimation de leur valeur de remplacement dans le
                    cadre de projets de construction ou autres travaux de proximité.
                </p>
                <h4>En milieu forestier</h4>
                <p>
                    En ce qui concerne la forêt en général ou la filière bois
                    (plan d'aménagement, question cynégétique, défrichement), je
                    peux apporter des solutions pratiques, réalistes et concrètes
                    ou des projets de réalisation.
                </p>
                <h3 class="h2">Conseils</h3>
                <p>
                    Je suis également à même de vous conseiller et fournir des réponses
                    sur des questions plus larges touchant l'horticulture, la vulgarisation,
                    scientifique notamment, ou les milieux naturels en général.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-bark py-5">
    <div class="container-md">
        <div class="row">
            <div class="col offset-md-3 col-lg-7">
                <h2>Développement durable</h2>
                <p>
                    L'interdisciplinarité nécessite de multiples contacts professionnels
                    pour répondre aux nouvelles tendances écologiques de la gestion
                    du patrimoine naturel, tant en milieu urbain que rural.
                </p>
                <p>
                    La biodiversité forestière: une composante majeure des multiples
                    fonctions de la forêt en faveur de la protection de l'environnement.
                </p>
                <p class="mb-0">
                    Plus que jamais, vos solutions doivent viser le long terme
                    (futur projet de parcs naturels régionaux, par exemple).
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
