{% extends 'layout/layout.html.twig' %}

{% block page_title %}Les prestations de Roger Beer, ingénieur forestier EPFZ/SIA{% endblock %}
{% block page_description %}Prenez connaissance du rôle et des prestations de l'ingénieur forestier. Ces dernières s'adressent aux entreprises comme aux particuliers.{% endblock %}

{% block content %}
<div class="bg-woods">
    <section class="container-md py-4 py-md-5">
        <h1 class="text-white" data-animation="fadeInUp">Prestations de <em>Séquoia & Gardens</em></h1>
        <p class="col-sm-10 col-md-6 text-white fs-5 fst-italic" data-animation="fadeInUp">
            Mon rôle est de vous aider et conseiller dans vos études ou projets d'aménagement d'espace forestier.
        </p>
    </section>
</div>

<div class="bg-bark">
    <section class="container-md py-4">
        <div class="row">
            <h2 class="col-md-3 col-lg-2 h4" data-animation="fadeInLeft">Pour qui</h2>
            <div class="col col-xl-8">
                <p class="h2">Gérer votre patrimoine forestier et horticole</p>
                <p>
                    Institutions publiques ou privées, communes ou propriétaires, vous aspirez
                    à une gestion optimale de vos espaces verts, de votre jardin et de leurs arbres.
                </p>
                <p>
                    Faites-vous conseiller par un spécialiste expérimenté qui saura assurer
                    un développement paysager harmonieux de votre cadre de vie.
                </p>
            </div>
        </div>
    </section>
</div>

<section class="container-md py-4 text-offwhite">
    <div class="row">
        <h2 class="col-md-3 col-lg-2 h4 text-white" data-animation="fadeInLeft">Pour quoi</h2>
        <div class="col col-xl-8">
            <p class="h2 text-white">Études et projets</p>
            <ul class="list-unstyled">
                <li class="mb-2">Expertises (sylviculture, chasse, dendrologie, paysagisme, horticulture)</li>
                <li class="mb-2">Etudes, prospections, propositions et développement de solutions appropriées</li>
                <li class="mb-2">Inventaires forestiers et arboricoles</li>
                <li class="mb-2">Démarches administratives liées à la forêt (demande de défrichement)</li>
                <li class="mb-2">Plans de gestion des forêts</li>
                <li class="mb-2">Valorisation régionale de la filière bois (utilisation locale du bois pour des réalisations de proximité, traçabilité)</li>
                <li class="mb-2">Vulgarisation scientifique (sur la faune notamment)</li>
                <li class="mb-2">Elaboration de concepts forêts-gibier (connaissances cynégétiques)</li>
                <li class="mb-2">Analyses spécifiques des milieux naturels et horticoles</li>
                <li class="mb-2">Arbres en ville (procédure d’autorisations d'abattage, remplacement, plantation)</li>
            </ul>
        </div>
    </div>
</section>

<div class="bg-bark">
    <section class="container-md py-4">
        <div class="row">
            <div class="col offset-md-3 offset-lg-2 col-xl-8">
                <h2>Développement durable</h2>
                <p>
                    L’interdisciplinarité nécessite de multiples contacts professionnels
                    pour répondre aux nouvelles tendances écologiques de la gestion
                    du patrimoine naturel, tant en milieu urbain que rural.
                </p>
                <p>
                    La biodiversité forestière: une composante majeure des multiples
                    fonctions de la forêt en faveur de la protection de l'environnement.
                </p>
                <p>
                    Plus que jamais, vos solutions doivent viser le long terme
                    (futur projet de parcs naturels régionaux, par exemple).
                </p>
            </div>
        </div>
    </section>
</div>
{% endblock %}
