twig:
    default_path: '%kernel.project_dir%/templates'
    paths:
        '%kernel.project_dir%/assets/styles': styles
        '%kernel.project_dir%/assets/images': images
    globals:
        detector: '@App\Services\MobileDetectService'
