/**
 * Main SCSS file
 */

@use 'sass:map';

// Open Sans font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import 'custom-animate';
@import 'custom-bootstrap';

@import 'navbar';

// Mixin for a background image with parallax effect on large device and up
@mixin parallax-background($image, $position: center) {
    background-image: $image;
    background-position: $position;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-up(lg) {
        & {
            background-attachment: fixed;
        }
    }
}

@media only screen {
    // Hide animated elements if javascript is enabled
    html.js [data-animation*="In"]:not(.animated) {
        opacity: 0;
    }
}

/**
 * General styles
 */

*:focus-visible {
    outline: solid 1px currentColor;
}

::selection {
    background-color: transparentize($dark-green, 0.2);
    color: $white;
    text-shadow: none;
}

body {
    min-height: 100vh;
    padding-top: $navbar-padding-y * 2 + $navbar-logo-height;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/**
 * Utilities
 */
.icon {
    width: 1.5em;
    height: 1.5em;
}

.text-shadow-sm {
    text-shadow: 0 0 2px #000;
}
.text-shadow {
    text-shadow: 0 0 4px #000;
}
.text-shadow-lg {
    text-shadow: 0 0 8px #000;
}

.bg-bark {
    background-color: $light;
    @include parallax-background(url('../images/texture-ecorce.jpg'));

    a {
        $value: $dark;
        color: $value;

        @if $link-shade-percentage != 0 {
            &:hover,
            &:focus {
                color: if(color-contrast($value) == $color-contrast-light, shade-color($value, $link-shade-percentage), tint-color($value, $link-shade-percentage));
            }
        }
    }
}

.bg-woods {
    @include parallax-background(url('../images/foret-mobile.jpg'), center top);

    @include media-breakpoint-up(md) {
        background-image: url('../images/foret.jpg');
        background-position: center bottom;
    }
}

.bg-phone-wood {
    @include parallax-background(url('../images/telephone-sur-bois-mobile.jpg'), center top);

    @include media-breakpoint-up(md) {
        background-image: url('../images/telephone-sur-bois.jpg');
    }
}

.bg-dark ::selection,
.bg-woods ::selection,
.bg-phone-wood ::selection {
    background-color: transparentize($yellow, 0.2);
    color: $black;
    text-shadow: none;
}

/**
 * Home page
 */
.leaf-card {
    position: relative;
    padding: 1rem;
    border: solid 0.125rem $light-green;
    border-radius: 0 4rem 0 4rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    background-color: $dark-green;
    color: $offwhite;
    text-align: center;
    transition: transform 0.15s ease, box-shadow 0.15s ease;

    a {
        color: inherit;
        text-decoration: none;
    }
    a:focus {
        color: $yellow;
    }

    @include media-breakpoint-up(md) {
        &:hover,
        &:focus-within {
            transform: scale(1.04);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
        }
    }
}

@include media-breakpoint-up(md) {
    .leaf-card {
        max-width: 23rem;

        &:nth-of-type(2) {
            margin-left: 1rem;
            margin-right: 1rem;
            border-radius: 4rem 4rem 0 0;
        }
        &:last-of-type {
            border-radius: 4rem 0 4rem 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .leaf-card {
        padding: 1.5rem;
    }
}

/**
 * Biography page
 */
.list-item-date {
    font-size: 0.875em;
    width: 7.5em;
    flex-shrink: 0;
    margin-bottom: 0.125rem;
    opacity: 0.8;
}

/**
 * Contact info
 */
.contact-info-column {
    @include media-breakpoint-down(md) {
        background-color: $dark;
        color: $offwhite;
        padding-top: $spacer * 1.5;

        h2 {
            color: $white;
        }

        a {
            $value: $yellow;
            color: $value;

            @if $link-shade-percentage != 0 {
                &:hover,
                &:focus {
                    color: if(color-contrast($value) == $color-contrast-light, shade-color($value, $link-shade-percentage), tint-color($value, $link-shade-percentage));
                }
            }
        }

        ::selection {
            background-color: transparentize($yellow, 0.2);
            color: $black;
            text-shadow: none;
        }
    }
}

.contact-label {
    display: inline-block;
    width: 7em;
    padding-right: 1em;
    font-weight: bold;
    text-align: right;
}

/* Honey pot */
.contact-email-address-special {
    display: none !important;
    visibility: hidden !important;
}

.contact-address {
    width: 12em;
}

.form-label.required::after {
    content: ' *';
}

/**
  * Publications
  */
.publication-date {
    width: 3rem;
}
.publication-author {
    width: 7rem;
}

/**
  * Leaf button
  */
.btn-leaf {
    --focus-shadow-color: #{$input-btn-focus-color};

    display: inline-block;
    font-size: map.get($font-sizes, 5);
    text-decoration: none;
    color: $yellow;
    padding: 0.25em 0.75em;
    border: solid 0.125rem $light-green;
    border-radius: 0 1em 0 1em;
    background-color: $dark-green;
    transition: background-color 0.2s ease, transform 0.2s ease;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);

    &.focus-yellow {
        --focus-shadow-color: #{transparentize($yellow, 0.75)};
    }

    &:hover,
    &:focus {
        color: $yellow;
        background-color: lighten($dark-green, 3);
    }

    &:hover {
        transform: scale(1.04);
    }

    &:focus {
        outline: 0;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
            0 0 $input-btn-focus-blur $input-btn-focus-width var(--focus-shadow-color);
    }

    &:active {
        background-color: darken($dark-green, 3);
    }
}
