/**
 * Main SCSS file
 */

// Open Sans font
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

@import 'custom-bootstrap';

@import 'navbar';

@media only screen and (min-width: 2000px) {
    html {
        font-size: 24px;
    }
}

@media only screen and (min-width: 3000px) {
    html {
        font-size: 32px;
    }
}

body {
    padding-top: $navbar-padding-y * 2 + $navbar-logo-height;
}


/**
 * Home page title
 */

.bg-woods {
    background-image: url('../images/foret-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

.leaf-card {
    position: relative;
    padding: 1rem;
    border: solid 0.125rem $light-green;
    border-radius: 0 4rem 0 4rem;
    background-color: $dark-green;
    color: $offwhite;
    text-align: center;
    transition: transform 0.15s ease;

    &:hover,
    &:focus-within {
        transform: scale(1.05);
    }
}

@include media-breakpoint-up(md) {
    .bg-woods {
        background-image: url('../images/foret.jpg');
        background-attachment: fixed;
        background-position: center bottom;
    }

    .leaf-card {
        max-width: 23rem;

        &:nth-of-type(2) {
            margin-left: 1rem;
            margin-right: 1rem;
            border-radius: 4rem 4rem 0 0;
        }
        &:last-of-type {
            border-radius: 4rem 0 4rem 0;
        }
    }
}

@include media-breakpoint-up(lg) {
    .leaf-card {
        padding: 1.5rem;
    }
}

@include media-breakpoint-up(xl) {
    .bg-woods {
        background-position: center bottom;
    }
}
