<h2 class="h4 text-light mb-3">Discutons de votre projet</h2>
<div class="row gx-0 text-light mb-4">

    {# Contact button column #}
    <div class="col-sm-6 col-md-4 col-lg-3 text-center text-sm-start mb-4">
        <a class="btn-leaf focus-yellow" href="{{ path('contact') }}" data-animation="fadeInUp">Envoyer un message</a>
    </div>

    {# Contact info column #}
    <div class="col-sm-6 col-md-8 col-lg-9">
        <div class="row justify-content-center justify-content-sm-around gx-xl-0">
            {# Address column #}
            <div class="col-auto d-flex">
                <div class="contact-label">Adresse</div>
                <address class="contact-address text-nowrap">
                    {{- block('contact_address', 'app/contact.html.twig') -}}
                </address>
            </div>
            {# Phone and e-mail column #}
            <div class="col-auto">
                <div class="d-flex">
                    <div class="contact-label">Téléphone</div>
                    <address class="contact-address phone-number">
                        {{- block('contact_phone_number', 'app/contact.html.twig') -}}
                    </address>
                </div>
                <div class="d-flex">
                    <div class="contact-label">E-mail</div>
                    <address class="contact-address">
                        {{- block('contact_email', 'app/contact.html.twig') -}}
                    </address>
                </div>
            </div>
        </div>
    </div>
</div>
